/* Declare colors using CSS variables and :root CSS pseudo-class */
:root {
    --color-brite: #3af568;
    --color-bkgrd: #2b2527;
    --color-white: #ffffff;
}

/* Targets entire body */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-brite);
    background: var(--color-bkgrd);
}

/* button */

.button {
    /* turn off underline beneath button link */
    text-decoration: none;
    /* make button text green */
    color: var(--color-brite);
    /* optimise accessibility using large bold font */
    font-size: 2rem;
    font-weight:900;
    
    cursor: pointer;
    display: inline-block;
    border: var(--color-brite) 0.1em solid;
    padding: 0.04em 0.4em;
    position: relative;
}

/* change when mouse hover over button */
.button:hover {
    /* so that text edges are clearly defined on mouse over: */
    text-shadow: none;
    /* invert button colors on mouse over: */
    background: var(--color-brite);
    color: var(--color-bkgrd);
}

/* bulletless class rule for unordered list on home page */
.bulletless {
    list-style: none;
}

li {
    display: inline-block;
}

nav {
    width: 100%;
    background-color: orange;
}