/* QUICK LIST OF FEATURES styled in SECTION 1 of style.css */
  /* site colors, button, responsive elements, and nav bar */

/* From Google Chrome Developer Tools Inspect Element applied to header with search filter margin */
/* Adding CSS Style Rule to override user agent stylesheet */
/* Purpose to make title element in 01_home.html */
/*   appear further down from top edge of webpage */
/* Start of Reference: */
/* Closest site to reference this: */
/* https://developer.chrome.com/docs/devtools/device-mode/override-user-agent/ */


:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5rem;
    margin-block-start: 1.7rem;
    margin-block-end: 1.7rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

/* End of Reference */

/* adapted from above rule: */
:-webkit-any h2 {
    font-size: 1.25rem;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

/* add rule to style paragraph font size: */
p {
    font-size:1.048rem;
}

/* own: add header rule with minimum height declaration: */
header {
    min-height: 151px;
}

/* Neon button */

/* Credits Comment Start */
/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Declare colors using CSS variables and :root CSS pseudo-class */
    :root {
        --color-brite: #3af568;
        --color-bkgrd: #2b2527;
        --color-white: #ffffff;
    }

    /* Targets entire body */
    body {
        font-family: 'Roboto', sans-serif;
        color: var(--color-brite);
        background: var(--color-bkgrd);
    }

    /* button */

/* @media reference https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media screen and (min-width: 1252px) {
    /* for when nav button is one line in height */

    .button {
        /* turn off underline beneath button link */
        text-decoration: none;
        /* make button text green */
        color: var(--color-brite);
        /* optimise accessibility using large bold font */
        font-size: 1.45rem;
        font-weight:900;
        
        cursor: pointer;
        border: var(--color-brite) 0.1em solid;
        padding: 0.04em 0.4em;
        position: relative;
    /* Start Nested Credit Comment: Add 3 declarations from https://codepen.io/nikkipantony/pen/vWgjBw  */
        display: flex;
        flex-direction: column;
        align-items: center;
    /* End Nested Credit Comment */
    }

    /* change when mouse hover over button */
    .button:hover {
        /* so that text edges are clearly defined on mouse over: */
        text-shadow: none;
        /* invert button colors on mouse over: */
        background: var(--color-brite);
        color: var(--color-bkgrd);
    }

/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Credits Comment End */

}


/* Duplicate from button and button:hover rules  */
/* Used to make first_header and first_header:hover rules */

        /* button */

/* media range Credit Reference listed under Example "Comma separated list" at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

@media screen and (max-width: 1251px) and (min-width: 880px) {

    /* for when CSS nav bar is 2 lines in height due to word wrapping in User Survey Form button */


    /* button */

    .button {
        /* turn off underline beneath button link */
        text-decoration: none;
        /* make button text green */
        color: var(--color-brite);
        /* optimise accessibility using large bold font */
        font-size: 1.45rem;
        font-weight:900;
        
        cursor: pointer;
        border: var(--color-brite) 0.1em solid;
        padding: 0.04em 0.4em;
        position: relative;
    /* Start Nested Credit Comment: Add 3 declarations from https://codepen.io/nikkipantony/pen/vWgjBw  */
        display: flex;
        flex-direction: column;
        align-items: center;
    /* End Nested Credit Comment */
    /* adjust button height, responsive design */
        height: 85px;
    }

    /* change when mouse hover over button */
    .button:hover {
        /* so that text edges are clearly defined on mouse over: */
        text-shadow: none;
        /* invert button colors on mouse over: */
        background: var(--color-brite);
        color: var(--color-bkgrd);
    }

/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Credits Comment End */

}



/* Second Duplicate (third version) from (of) button and button:hover rules  */
/* Used to make first_header and first_header:hover rules */
/* for media query */

        /* button */

/* media range Credit Reference listed under Example "Comma separated list" at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

@media screen and (max-width: 879px) and (min-width: 589px) {

    /* button */

    .button {
        /* turn off underline beneath button link */
        text-decoration: none;
        /* make button text green */
        color: var(--color-brite);
        /* optimise accessibility using large bold font */
        font-size: 1.45rem;
        font-weight:900;
        
        cursor: pointer;
        border: var(--color-brite) 0.1em solid;
        padding: 0.04em 0.4em;
        position: relative;
    /* Start Nested Credit Comment: Add 3 declarations from https://codepen.io/nikkipantony/pen/vWgjBw  */
        display: flex;
        flex-direction: column;
        align-items: center;
    /* End Nested Credit Comment */
    /* adjust button height, responsive design */
        height: 122.26px;

    }

    /* change when mouse hover over button */
    .button:hover {
        /* so that text edges are clearly defined on mouse over: */
        text-shadow: none;
        /* invert button colors on mouse over: */
        background: var(--color-brite);
        color: var(--color-bkgrd);
    }

/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Credits Comment End */
    
/* End third version (second copy) of button and button:hover */

}

/* Third Duplicate (fourth version) from (of) button and button:hover rules  */
/* Used to make first_header and first_header:hover rules */
/* for media query */

        /* button */

/* media range Credit Reference listed under Example "Comma separated list" at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

@media screen and (max-width: 588px) {

    /* button */

    .button {
        /* turn off underline beneath button link */
        text-decoration: none;
        /* make button text green */
        color: var(--color-brite);
        /* optimise accessibility using large bold font */
        font-size: 1.45rem;
        font-weight:900;
        
        cursor: pointer;
        border: var(--color-brite) 0.1em solid;
        padding: 0.04em 0.4em;
        position: relative;
    /* Start Nested Credit Comment: Add 3 declarations from https://codepen.io/nikkipantony/pen/vWgjBw  */
        display: flex;
        flex-direction: column;
        align-items: center;
    /* End Nested Credit Comment */
    /* adjust button height, responsive design */

    }

    /* change when mouse hover over button */
    .button:hover {
        /* so that text edges are clearly defined on mouse over: */
        text-shadow: none;
        /* invert button colors on mouse over: */
        background: var(--color-brite);
        color: var(--color-bkgrd);
    }

/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Credits Comment End */
    
/* End fourth version (second copy) of button and button:hover */

}

        .first_header {
                    /* Start fifth version (third copy) */

                    /* Duplicate from button and button:hover rules  */
                    /* Used to make first_header and first_header:hover rules */

                            /* first_header */

                    /* media range Credit Reference listed under Example "Comma separated list" at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

            /* turn off underline beneath button link */
            text-decoration: none;
            /* make button text green */
            color: var(--color-brite);
            /* optimise accessibility using large bold font */
            font-size: 1.5rem;
            font-weight:900;
            
            cursor: pointer;
            border: var(--color-brite) 0.1em solid;
            padding: 0.04em 0.4em;
            position: relative;
        /* Start Nested Credit Comment: Add 3 declarations from https://codepen.io/nikkipantony/pen/vWgjBw  */
            display: flex;
            flex-direction: column;
            align-items: center;
        /* End Nested Credit Comment */
        }

        /* change when mouse hover over button */
        .first_header:hover {
            /* so that text edges are clearly defined on mouse over: */
            text-shadow: none;
            /* invert button colors on mouse over: */
            background: var(--color-brite);
            color: var(--color-bkgrd);
        }

                /* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
                /* Create a neon button with a reflection using CSS */
                /* Kevin Powell */
                /* Credits Comment End */

.page_heading {
            /* Start sixth version (fifth copy) */

        /* Duplicate from button and button:hover rules  */
        /* Used to make first_header and first_header:hover rules */

                /* page_heading */

        /* media range Credit Reference listed under Example "Comma separated list" at https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

    /* turn off underline beneath button link */
    text-decoration: none;
    /* make button text green */
    color: var(--color-brite);
    /* optimise accessibility using large bold font */
    font-size: 1.5rem;
    font-weight:900;
    
    cursor: pointer;
    padding: 0.04em 0.4em;
    position: relative;
/* Start Nested Credit Comment: Add 3 declarations from https://codepen.io/nikkipantony/pen/vWgjBw  */
    display: flex;
    flex-direction: column;
    align-items: center;
/* End Nested Credit Comment */
    text-align:center;
}

/* change when mouse hover over button */
.first_header:hover {
    /* so that text edges are clearly defined on mouse over: */
    text-shadow: none;
    /* invert button colors on mouse over: */
    background: var(--color-brite);
    color: var(--color-bkgrd);
}

/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Credits Comment End */



/* bulletless class rule for unordered list on home page */
.bulletless {
    list-style: none;
}

/* Nav bar Full width */

/* to Debug Nav bar Partial Width, overflow: hidden CSS Rule from https://stackoverflow.com/questions/29538290/making-the-nav-bar-span-the-width-of-the-page */
nav {
    width: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
}

/* Credit Start*/
/* How to Make a Responsive Navigation Menu Navbar Using HTML, CSS, and Javascript Tutorial */
/* https://www.youtube.com/watch?v=yFWAOzwovrQ&ab_channel=BrianDesign */
/* Brian Design */
/* taken from 11:20 in video */

    * { /* padding zero removed from this rule, which causes nav bar to indent on all pages.  See README Shorter name: asterisk padding bullet list indent nav Bug: "bullet nav Bug 2"*/
        box-sizing: border-box;
        margin: 100 0 100 0;
        font-family: 'Roboto', sans-serif;
    }

    /* Start reference https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
    @media only screen and (min-width:588px) {
    /* End reference https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

    /* Nested Credit Comment Start*/
    /* How to Make a Responsive Navigation Menu Navbar Using HTML, CSS, and Javascript Tutorial */
    /* https://www.youtube.com/watch?v=yFWAOzwovrQ&ab_channel=BrianDesign */
    /* Brian Design */
    /* taken from 19:04 in video */
    /* This refers to .nav-menu dixplay grid and grid template columns rules*/
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(5, auto);
    /* Nested Credit Comment End */
    }
}
/* How to Make a Responsive Navigation Menu Navbar Using HTML, CSS, and Javascript Tutorial */
/* https://www.youtube.com/watch?v=yFWAOzwovrQ&ab_channel=BrianDesign */
/* Brian Design */
/* Credit End */


/* for media rule referenced https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
    @media only screen and (max-width: 587px) {

    /* Nested Credit Comment Start*/
    /* How to Make a Responsive Navigation Menu Navbar Using HTML, CSS, and Javascript Tutorial */
    /* https://www.youtube.com/watch?v=yFWAOzwovrQ&ab_channel=BrianDesign */
    /* Brian Design */
    /* taken from 19:04 in video */
    /* This refers to .nav-menu dixplay grid and grid template columns rules*/
    .nav-menu {
            /* changed display to block per https://www.w3schools.com/Css/css_navbar_vertical.asp */
            /* Start Reference https://www.w3schools.com/Css/css_navbar_vertical.asp */
            display: block;
            /* End Reference https://www.w3schools.com/Css/css_navbar_vertical.asp */
            grid-template-columns: repeat(5, auto);
    /* Nested Credit Comment End */
    }
}
/* How to Make a Responsive Navigation Menu Navbar Using HTML, CSS, and Javascript Tutorial */
/* https://www.youtube.com/watch?v=yFWAOzwovrQ&ab_channel=BrianDesign */
/* Brian Design */
/* Credit End */

/* remove underline from anchor in first header */
    .lineless {
        /* turn off underline beneath button link */
        text-decoration: none;
    }


/* QUICK LIST OF FEATURES styled in SECTION 2 of style css */
  /* site colors, horizontal timeline with horizontal scrollbar on home page */
  /* image zoom animation effect on user survey form page */
  /* "thanks" message on user survey form page image */

/* root pseudo element and body rules duplicated from style.css */
/* Neon button */
/* aoplied here generally for font and color uniformity */

/* Credits Comment Start */
/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Declare colors using CSS variables and :root CSS pseudo-class */
:root {
    --color-brite: #3af568;
    --color-bkgrd: #2b2527;
    --color-white: #ffffff;
    --color-altgrn: #69f43a; /* Analagous Color from Color Scheme Section of README */
    --color-blue: #0000ff;
    --color-altblue: lightblue;
    --color-grnwhite: #e7f5e7;
}

/* Targets entire body */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-brite);
    background: var(--color-bkgrd);
}
/* Credit Comment End Neon Button */

/* Credit Comment: Code Institute Runing Project https://github.com/Code-Institute-Org/gitpod-full-template*/

#matrix-outer {
    /*  create zoom level for matrix image */
    height: 700px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

#background-image-one {
    height: 700px;
    width: 100%;
    padding:0;
    background: url('../images/13_matrix_image.jpg') no-repeat center center;
    /* background size position and attachement from https://stackoverflow.com/questions/12082913/with-css-how-do-i-make-an-image-span-the-full-width-of-the-page-as-a-background   */
    background-size: cover;
    background-position: center;
    /* edit value to local by trial and error: */
    background-attachment:local;

    /* animates zoom effect on loading page */
    animation-name: matrix-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}


@keyframes matrix-zoom {
    from{
            transform: scale(200);
    }
    to {
            transform: scale(1);
    }
}

/* Credit Comment: https://www.w3schools.com/csS/css_align.asp */

/*  horizontal timeline
        Credit Comment Start 
        Item 3 on https://csshint.com/horizontal-timeline-css/ 
        https://codepen.io/kundankumarmourya/pen/oKBMLe
            by Kundan Kumar Mourya
                https://codepen.io/kundankumarmourya*/

.time-line-box {
    padding: 100px 0;
    width: 100%;
    background-color: var(--color-bkgrd);
  }
  
  .time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
  }
  
  .time-line-box .timestamp {
    margin: auto;
    margin-bottom: 5px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-line-box .status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 3px solid var(--color-brite);
    position: relative;
    transition: all 200ms ease-in;
  }
  .time-line-box .status span {
    padding-top: 8px;
  }
  .time-line-box .status span:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--color-brite);
    border-radius: 12px;
    border: 2px solid var(--color-brite);
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
  }
  
  .swiper-container {
    margin: auto;
    /* overflow-y: auto; */
  }
  .swiper-wrapper{
    display: inline-flex;
    flex-direction: row;
    overflow-y:auto;
    justify-content: center;
  }
  .swiper-container::-webkit-scrollbar-track{
     background:#a8a8a8b6;
  }
  .swiper-container::-webkit-scrollbar{
    height: 2px;
  }
  .swiper-container::-webkit-scrollbar-thumb{
     background: #4F4F4F;
  }
  .swiper-slide {
    text-align: center;
    font-size: 12px;
    width: 100vw;
    height: 100%;
    position: relative;
  }

/* horizontal timeline image and description styling: */
div.horizontal-timeline-image-container>span>img {
  background-color: white;
  margin: 1rem 0 1rem 0;

}
div.horizontal-timeline-image-description>span>p {
  width: 50vw;
  margin-left: 25vw;
}
div.horizontal-timeline-image-description>span {
  width:100%;
}


/* Item 3 on https://csshint.com/horizontal-timeline-css/ 
                    https://codepen.io/kundankumarmourya/pen/oKBMLe
                        by Kundan Kumar Mourya
                            https://codepen.io/kundankumarmourya
   Credit Comment End
   horizontal timeline end */


/* horizontal scroll slider
    Credit Comment Start*/
            /* Credit Comment Start
            horizontal scroll
            https://stackoverflow.com/questions/9925754/css-horizontal-scroll
                by FrameWorker 
                    https://stackoverflow.com/users/468722/frameworker */
                #outer_wrapper {  
                    width:100%;
                }
                #outer_wrapper #inner_wrapper {
                    width: 1000px; 
                    /* If more elements, increase width accordingly */
                }
                #outer_wrapper #inner_wrapper div.box { /* Define the properties of inner block */
                    width: 250px;
                    height:300px;
                    float: left;
                    margin: 0 4px 0 0;
                    border:1px grey solid;
                }
                /* https://stackoverflow.com/questions/9925754/css-horizontal-scroll
                    by FrameWorker 
                    https://stackoverflow.com/users/468722/frameworker 
    Credit Comment Start
horizontal scroll slider*/

/* Start Color Scroll bars on horizontal scroll bar of horizontal timeline
    Reference Comment Start
    Reference Comment used W3Schools How TO - Custom Scrollbar
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
    
    Changed colors from defaults to fit website color scheme */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-brite);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-blue);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-grnwhite);
  }

/*    Reference Comment used W3Schools How TO - Custom Scrollbar
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
    
    Changed colors from defaults to fit website color scheme
    Credit Comment End
    End Color Scroll bars on horizontal scroll bar of horizontal timeline */

/* style scrollbar corner
    Reference Comment
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
    ::-webkit-scrollbar-corner {
      background: var(--color-bkgrd);
    }

/* selector from https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
::-webkit-scrollbar-button  {
    background: var(--color-blue);
}


/* modified selector from https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
::-webkit-scrollbar-button:hover  {
    background: var(--color-grnwhite);
}

/* add rules to style text in home page timeline:*/
section.time-line-box>div>div>div span {
  font-size: 1.4rem;
}

/* QUICK LIST OF FEATURES styled in SECTION 3 of style.css */
  /* vertical timeline merged with 2 columns */
  
/* Combined vertical timeline and 2 columns Start */
/* text align https://www.w3schools.com/css/css_text_align.asp */
/* 2 columns https://www.w3schools.com/howto/howto_css_two_columns.asp */

/* vertical timeline https://freefrontend.com/css-timelines/
https://codepen.io/mathiesjanssen/pen/ggeBKm*/

/* 3 rules from w3Schools: asterisk (box-sizing declaration) .column (float width padding height declarations) .row:after (content display clear declarations) selectors from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns  */

    /* CONTAINER: */
    /* Consider removing rule: */
    div.container {
        display: flex;
        flex: auto;
        flex-direction: column;
        max-height: 100%;
      }

    /* HEADER */
    div.header {
        height: auto;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        position: relative;
      }

                /* Works */
                * {
                box-sizing: border-box;  
                
                /* Makes timeline neat and compact */
                border: 0;
                margin: 0;
                padding: 0;
                }
                
                /* a key, a pair of rules */
                    /* Works */
                        /* Create two equal columns that floats next to each other */
                        .column.right {
                            float: left;
                            width: 50%;
                            padding: 10px 10px 10px 13px;
                            /* height: 100px; */
                            /* Should be removed. Only for demonstration */
                            text-align: left;
                        }

                    /* Works, added, a key */
                        /* from above */
                        .column.left {
                            float: left; /* from .column.right rule above*/
                            width: 50%;
                            padding: 10px 10px 10px 10px;
                            /* height: 100px; */
                            /* Should be removed. Only for demonstration */
                            text-align: right; /* from W3Schools via left-side id selector above*/
                        }

            /* Works            if only removes excess bullet point */
                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }



                    /* styles right column: minor padding */
                        div.item {
                        padding: 0rem 1rem 0rem 1rem;
                        }
                    /* R above */
                    /* L below */
                    /* from above */
                    /* styles right column: minor padding */
                        div.item-for-left {
                            padding: 0rem 0 0rem 0;
                        }
    
/* Combined vertical timeline and 2 columns end */

/* Added to merged vertical timeline 2 columns: */
    /* rule to center one time point vertically when h3 heading is blank: */
/* For centering elements vertically refer to W3Schools https://www.w3schools.com/howto/howto_css_center-vertical.asp */
                .center-vertically {
                    padding-top: 0.27em;
                }
/* subheader class from div.header class above: */
                /* subheader */
                div.subheader {
                    height: auto;
                    text-align: center;
                    padding: 1em 1em 1em 1em;
                    position: relative;
                }

/* rule references https://stackoverflow.com/questions/16626240/vertical-align-html-form */
/* vertically align form */
div.vertical-align-html-form {
    text-align: center;
    padding: 0.4em;
}

h2.vertical-align-heading {
    text-align: center;
}

h2.pad {
    padding: 0.2em 0.4em 0.8em 0.4em;
}

div.pad-submit {
    padding-bottom: 1em;
}

/* to flex image right and form left, reference https://www.w3docs.com/snippets/css/how-to-right-align-a-flex-item.html */
div#flex-container-form {
    display: flex;
    justify-content: space-between;
}

#flex-form-left {
    border: 1px solid #8a8a8a;
    width: 50%;
}

#flex-form-image-right {
    border: 1px solid #8a8a8a;
    width: 50%;
}


/* targets span in vertical timeline for bullet point to text spacing control https://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li */
/* left column span */
span.bullet-to-text-spacing-left {
    position:relative;
    left: -17px;
}

span.bullet-to-text-spacing-right {
    position:relative;
    right: -20px;
}

/* add style rule to target top border of left and right column elements and turn them green on each time point in vertical timeline on 3 tech event pages: */
div.column.left, div.column.right {
    border-top-color: var(--color-brite);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    /* https://love2dev.com/blog/html-horizontal-line/ */
    display: block; 
    /* changed these properties slightly: (margin-before to margin-top, etc.) */
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
    /* border-color: var(--color-brite); */
}


/* SECTION 4 
Features in section 4:
margin at side of page for h1 h2 h3 and paragraph elements in main */

main div.row div.column.left p {
    margin-left: 5vw;
}

main div.row div.column.right p {
    margin-right: 5vw;
}

main div.row div.column.left h3 {
    margin-left: 5vw;
}

main div.row div.column.right h3 {
    margin-right: 5vw;
}

main div.row {
    margin-left: 15vw;
    margin-right: 15vw;
}

/* style link in paragraph in row */
div.row p a {
    background-color: var(--color-bkgrd);
    color: var(--color-brite);
}

div.row p a:hover {
    background-color: var(--color-brite);
    color: var(--color-bkgrd);
}

form>div>button.submit-button-style {
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: var(--color-bkgrd);
    background-color: var(--color-brite);
    /* Reference: See Neon button reference: */
    cursor: pointer;
}
input#email {
    padding-bottom: 0.1rem;
}

footer {
    text-align: center;
}

footer>a {
    background-color: var(--color-bkgrd);
    color: var(--color-brite);
}

footer>a:hover {
    background-color: var(--color-brite);
    color: var(--color-bkgrd);
}
/* center video */
p.video-to-center {
    text-align: center;
}