/* QUICK LIST OF FEATURES styled in style3.css */
  /* vertical timeline merged with 2 columns */
  
/* Combined vertical timeline and 2 columns Start */
/* text align https://www.w3schools.com/css/css_text_align.asp */
/* 2 columns https://www.w3schools.com/howto/howto_css_two_columns.asp */

/* vertical timeline https://freefrontend.com/css-timelines/
https://codepen.io/mathiesjanssen/pen/ggeBKm*/

/* 3 rules from w3Schools: asterisk (box-sizing declaration) .column (float width padding height declarations) .row:after (content display clear declarations) selectors from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns  */

    /* CONTAINER: */
    /* Consider removing rule: */
    div.container {
        display: flex;
        flex: auto;
        flex-direction: column;
        max-height: 100%;
      }

    /* HEADER */
    div.header {
        height: auto;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        position: relative;
      }

                /* Works */
                * {
                box-sizing: border-box;  
                
                /* Makes timeline neat and compact */
                border: 0;
                margin: 0;
                padding: 0;
                }
                
                /* a key, a pair of rules */
                    /* Works */
                        /* Create two equal columns that floats next to each other */
                        .column.right {
                            float: left;
                            width: 50%;
                            padding: 10px 10px 10px 10px;
                            /* height: 100px; */
                            /* Should be removed. Only for demonstration */
                            text-align: left;
                        }

                    /* Works, added, a key */
                        /* from above */
                        .column.left {
                            float: left; /* from .column.right rule above*/
                            width: 50%;
                            padding: 10px 1px 10px 10px;
                            /* height: 100px; */
                            /* Should be removed. Only for demonstration */
                            text-align: right; /* from W3Schools via left-side id selector above*/
                        }

            /* Works            if only removes excess bullet point */
                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }



                    /* styles right column: minor padding */
                        div.item {
                        padding: 0rem 1rem 0rem 1rem;
                        }
                    /* R above */
                    /* L below */
                    /* from above */
                    /* styles right column: minor padding */
                        div.item-for-left {
                            padding: 0rem 0 0rem 0;
                        }
    
/* Combined vertical timeline and 2 columns end */

/* Added to merged vertical timeline 2 columns: */
    /* rule to center one time point vertically when h3 heading is blank: */
/* For centering elements vertically refer to W3Schools https://www.w3schools.com/howto/howto_css_center-vertical.asp */
                .center-vertically {
                    padding-top: 0.27em;
                }
/* subheader class from div.header class above: */
                /* subheader */
                div.subheader {
                    height: auto;
                    text-align: center;
                    padding: 1em 1em 1em 1em;
                    position: relative;
                }
                /* line spacing options 1.5 and 2 */
                .one-point-five-space-after {
                    padding-bottom: 0.5em;
                }
                .two-space-after {
                    padding-bottom: 1.2em;
                }

/* rule references https://stackoverflow.com/questions/16626240/vertical-align-html-form */
/* vertically align form */
div.vertical-align-html-form {
    /* position: absolute;
    top: 50%;
    right: 50%;
    left: 0; */
    text-align: center;
    /* background-color: blue !important; */
    padding: 0.4em;
}

h2.vertical-align-heading {
    text-align: center;
}

h2.pad {
    padding: 0.2em 0.4em 0.8em 0.4em;
}

div.pad-submit {
    padding-bottom: 1em;
}

/* to flex image right and form left, reference https://www.w3docs.com/snippets/css/how-to-right-align-a-flex-item.html */
div#flex-container-form {
    display: flex;
    justify-content: space-between;
}

#flex-form-left {
    border: 1px solid #8a8a8a;
    width: 50%;
}

#flex-form-image-right {
    border: 1px solid #8a8a8a;
    width: 50%;
}
