/* Declare colors using CSS variables and :root CSS pseudo-class */
:root {
    --color-brite: #3af568;
    --color-bkgrd: #2b2527;
}

/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* All of body */
body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    color: var(--color-brite);
    background: var(--color-bkgrd);
}

/* button */

#button {
    text-decoration: none;
    color: var(--color-brite);
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-block;
    border: var(--color-brite) 2px solid;
}