/* target section-five on 02_tech_event_1.html
    in order to style
    text*/
.text li {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

#content {
    text-align: center;
    list-style-position: inside;
}
.bullet {
    background-color: yellow;
}

#content2 {
    text-align: center;
    list-style-position: inside;
}











/* Combined vertical timeline and 2 columns Start */
/* text align https://www.w3schools.com/css/css_text_align.asp */
/* 2 columns https://www.w3schools.com/howto/howto_css_two_columns.asp */

/* vertical timeline https://freefrontend.com/css-timelines/
https://codepen.io/mathiesjanssen/pen/ggeBKm*/

/* 3 rules from w3Schools: asterisk (box-sizing declaration) .column (float width padding height declarations) .row:after (content display clear declarations) selectors from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns  */

    /* CONTAINER: */
    /* Consider removing rule: */
    div.container {
        display: flex;
        flex: auto;
        flex-direction: column;
        max-height: 100%;
      }

    /* HEADER */
    div.header {
        height: auto;
        text-align: center;
        padding: 2.3rem 1rem 2.3rem 1rem;
        position: relative;
      }

                /* Works */
                * {
                box-sizing: border-box;  
                
                /* Makes timeline neat and compact */
                border: 0;
                margin: 0;
                padding: 0;
                }
                
                /* a key, a pair of rules */
                    /* Works */
                        /* Create two equal columns that floats next to each other */
                        .column.right {
                            float: left;
                            width: 50%;
                            padding: 10px 10px 10px 10px;
                            /* height: 100px; */
                            /* Should be removed. Only for demonstration */
                            text-align: left;
                        }

                    /* Works, added, a key */
                        /* from above */
                        .column.left {
                            float: left; /* from .column.right rule above*/
                            width: 50%;
                            padding: 10px 1px 10px 10px;
                            /* height: 100px; */
                            /* Should be removed. Only for demonstration */
                            text-align: right; /* from W3Schools via left-side id selector above*/
                        }

            /* Works            if only removes excess bullet point */
                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }



                    /* styles right column: minor padding */
                        div.item {
                        padding: 0rem 1rem 0rem 1rem;
                        }
                    /* R above */
                    /* L below */
                    /* from above */
                    /* styles right column: minor padding */
                        div.item-for-left {
                            padding: 0rem 0 0rem 0;
                        }
    
/* Combined vertical timeline and 2 columns end */
