/* QUICK LIST OF FEATURES styled in style2.css */
  /* site colors, horizontal timeline with horizontal scrollbar on home page */
  /* image zoom animation effect on user survey form page */
  /* "thanks" message on user survey form page image */

/* root pseudo element and body rules duplicated from style.css */
/* Neon button */
/* aoplied here generally for font and color uniformity */

/* Credits Comment Start */
/* https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
/* Create a neon button with a reflection using CSS */
/* Kevin Powell */
/* Declare colors using CSS variables and :root CSS pseudo-class */
:root {
    --color-brite: #3af568;
    --color-bkgrd: #2b2527;
    --color-white: #ffffff;
    --color-altgrn: #69f43a; /* Analagous Color from Color Scheme Section of README */
    --color-blue: #0000ff;
    --color-altblue: lightblue;
    --color-grnwhite: #e7f5e7;
}

/* Targets entire body */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-brite);
    background: var(--color-bkgrd);
}
/* Credit Comment End Neon Button */

/* Credit Comment: Code Institute Runing Project https://github.com/Code-Institute-Org/gitpod-full-template*/

#matrix-outer {
    /*  create zoom level for matrix image */
    height: 700px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

#background-image-one {
    height: 700px;
    width: 100%;
    padding:0;
    background: url('../images/13_matrix_image.jpg') no-repeat center center;
    /* background size position and attachement from https://stackoverflow.com/questions/12082913/with-css-how-do-i-make-an-image-span-the-full-width-of-the-page-as-a-background   */
    background-size: cover;
    background-position: center;
    /* edit value to local by trial and error: */
    background-attachment:local;

    /* animates zoom effect on loading page */
    animation-name: matrix-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}


@keyframes matrix-zoom {
    from{
            transform: scale(200);
    }
    to {
            transform: scale(1);
    }
}

/* Credit Comment: https://www.w3schools.com/csS/css_align.asp */

/*  horizontal timeline
        Credit Comment Start 
        Item 3 on https://csshint.com/horizontal-timeline-css/ 
        https://codepen.io/kundankumarmourya/pen/oKBMLe
            by Kundan Kumar Mourya
                https://codepen.io/kundankumarmourya*/

.time-line-box {
    height: 100px; 
    padding: 100px 0;
    width: 100%;
    background-color: var(--color-bkgrd);
  }
  
  .time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
  }
  
  .time-line-box .timestamp {
    margin: auto;
    margin-bottom: 5px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-line-box .status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 3px solid var(--color-brite);
    position: relative;
    transition: all 200ms ease-in;
  }
  .time-line-box .status span {
    padding-top: 8px;
  }
  .time-line-box .status span:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--color-brite);
    border-radius: 12px;
    border: 2px solid var(--color-brite);
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
  }
  
  .swiper-container {
    width: 95%; 
    margin: auto;
    overflow-y: auto;
  }
  .swiper-wrapper{
    display: inline-flex;
    flex-direction: row;
    overflow-y:auto;
    justify-content: center;
  }
  .swiper-container::-webkit-scrollbar-track{
     background:#a8a8a8b6;
  }
  .swiper-container::-webkit-scrollbar{
    height: 2px;
  }
  .swiper-container::-webkit-scrollbar-thumb{
     background: #4F4F4F;
  }
  .swiper-slide {
    text-align: center;
    font-size: 12px;
    width: 200px;
    height: 100%;
    position: relative;
  }
  
/* Item 3 on https://csshint.com/horizontal-timeline-css/ 
                    https://codepen.io/kundankumarmourya/pen/oKBMLe
                        by Kundan Kumar Mourya
                            https://codepen.io/kundankumarmourya
   Credit Comment End
   horizontal timeline end */


/* horizontal scroll slider
    Credit Comment Start*/
            /* Credit Comment Start
            horizontal scroll
            https://stackoverflow.com/questions/9925754/css-horizontal-scroll
                by FrameWorker 
                    https://stackoverflow.com/users/468722/frameworker */
                #outer_wrapper {  
                    overflow: scroll;  
                    width:100%;
                }
                #outer_wrapper #inner_wrapper {
                    width: 1100px; /* If you have more elements, increase the width accordingly */
                }
                #outer_wrapper #inner_wrapper div.box { /* Define the properties of inner block */
                    width: 250px;
                    height:300px;
                    float: left;
                    margin: 0 4px 0 0;
                    border:1px grey solid;
                }
                /* https://stackoverflow.com/questions/9925754/css-horizontal-scroll
                    by FrameWorker 
                    https://stackoverflow.com/users/468722/frameworker 
    Credit Comment Start
horizontal scroll slider*/

/* Start Color Scroll bars on horizontal scroll bar of horizontal timeline
    Reference Comment Start
    Reference Comment used W3Schools How TO - Custom Scrollbar
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
    
    Changed colors from defaults to fit website color scheme */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-brite);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-blue);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-grnwhite);
  }

/*    Reference Comment used W3Schools How TO - Custom Scrollbar
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
    
    Changed colors from defaults to fit website color scheme
    Credit Comment End
    End Color Scroll bars on horizontal scroll bar of horizontal timeline */

/* style scrollbar corner
    Reference Comment
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
    ::-webkit-scrollbar-corner {
      background: var(--color-bkgrd);
    }

/* selector from https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
::-webkit-scrollbar-button  {
    background: var(--color-blue);
}


/* modified selector from https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
::-webkit-scrollbar-button:hover  {
    background: var(--color-grnwhite);
}
